<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- title -->

  <title>{{ title }}</title>
  {% block head %}{% endblock %}

  <!-- Favicon-->
  <link rel="icon" type="image/svg" href="/assets/favicon/favicon.svg">


  <!-- CSS -->
  <link rel="stylesheet" href="/tailwind/index.css">

  <!-- JavaScript -->
  <script src="/js/main.bundle.js" defer></script>


  <!-- netlify cms -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>




  
</head>




<body  class="relative  bg-s-t1a1 text-l1-a1 font-mono -p">


<div class="flex flex-col justify-between min-h-screen">

    <div>
      {% include './home/components/navbar.liquid' %}


        


        <main>{{content | safe}}</main>


        <!-- Back To Top Button -->
        {% include './home/components/backToTop.liquid' %}
        


    </div>


    <div>

      {% include './home/components/footer.liquid' %}


    </div>


</div>








<script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

   




<!-- Javascript (Related to this layout) -->


<!-- Navbar -->

<!--  Javascript for Toggling Mobile Menu Items -->
{% include './home/assets-liquid/js/navbar/mobileMenuJS.liquid' %}

<!--  Javascript for styling Active Menu Items -->
{% include './home/assets-liquid/js/navbar/activeItemJS.liquid' %}


<!--  Javascript for toggling Dark & Light Mode -->
{% include './home/assets-liquid/js/navbar/darkModeJS.liquid' %}



<!-- Back To Top Button -->

{% include './home/assets-liquid/js/backToTop.liquid' %}


<!-- Footer -->

{% include './home/assets-liquid/js/footerJS.liquid' %}



</body>
</html>
