<footer class="p-4 mt-4 bg-s-t1a4 shadow-lg flex justify-center">

<span class="p-2 -h5 bg-s-t1a5"> 
    &copy; <span class="js_footer"></span>
</span>
     




</footer>



<!-- Javascript -->

{% render './JS/footerJS.liquid' %}
