
<header class="p-4 mb-4 bg-s-t1a3 shadow-lg">

  
<nav class="flex flex-wrap justify-start gap-4">

    <a class="p-2 rounded-lg" href="/">Home</a>
    <a class="p-2 rounded-lg" href="/blog/">Blog</a>
    <a class="p-2 rounded-lg" href="/about/">About</a>
    <a class="p-2 rounded-lg" href="/counter/">Counter</a>
 
</nav>




</header>



<!-- Javascript -->

{% render './JS/headerJS.liquid' %}