---

title: home

layout: 'layout.liquid'

---


<div class="-max-w-90-60 mx-auto space-y-8" >

 

    <h4 class="font-semibold text-center">
        <a href="{{ page.url | url }}">
            {{ title }}
        </a>
    </h4>
 

    <div class="-card-1 mx-auto">
        <img class="-card-image-1" src="{{img}}">

    </div>


    <p>{{content | safe}}</p>

   
        


</div>
