---

title: Post

layout: 'layout.liquid'

---


<div class="-post-wrapper-lg space-y-8" >

 

    <h4 class="font-semibold text-center">
            {{ title }}
   
    </h4>
 

    <div class="-post-img-wrapper-md ">
        <img class="-post-img-md" src="{{img}}" alt="{{imgAlt}}">
        

    </div>


    <p>{{article }}</p>

   
        


</div>



 