<a class="fixed bottom-2 right-2 opacity-0 _p-8px rounded-full bg-s-t1a5 hover:bg-s-t1a4 shadow js_backToTop" href="#"
    title="Back to Top of the Page">

    {% include './home/assets-liquid/svg/backToTop.liquid' %}

</a>