---
title: Articles

layout: 'home/home.liquid'

pagination:
  data: collections.articles
  size: 5
  alias: postslist
  reverse: true

---

<h3 class="m-[2rem] text-center">All Articles</h3>


<div class="-card-layout-1-3-wrapper">

    <div class="-card-layout-1-3">
    
        {% for post in postslist  %}

        
        {% include './articles/components/articles.liquid' %}      

        {% endfor %}
    
    </div>
    
 </div>


 

 <!-- Pagination -->

 {% include './articles/components/pagination.liquid' %} 


