<!-- 
Design plan:

In mobile, 
hamburger menu button - col-span-1
logo & title - col-span-10
dark mode button - col-span-1

In laptop,
logo & title - col-span-3
navigation items - col-span-8
dark mode button - col-span-1

-->



<nav class="py-4 px-1 mb-4 bg-s-t1a3 shadow-lg ">


    <!-- Wrapper (Everything but the mobile navigation items) -->
    <div class="grid grid-cols-12 gap-[1rem]">  


        <!-- Hamburger menu button (Hidden in laptop) -->
        <div class="lg:hidden col-span-1 justify-self-start">
          <button class="js_hamburger">

            {% include './assets-liquid/svg/menuSVG.liquid' %} 
      
          </button>
        </div>
    
    
        <!-- Logo & Title -->
        <div class="col-span-10 lg:col-span-3 justify-self-center   font-cursive-3"> 
        
            {% include './assets-liquid/svg/bangladeshSVG.liquid' %} 
         

            <a  href="/">Beauty of Bangladesh</a>
            
        </div>
    
    
        <!-- Laptop Navigation Items (Hidden in Mobile) -->
        <div class="hidden lg:block col-span-8 justify-self-end">
        
            <a class="p-2 rounded-lg hover:bg-s-t1a5 js_nav" href="/">Home</a>
            <a class="p-2 rounded-lg hover:bg-s-t1a5 js_nav" href="/slideshow/images/   ">Images</a>
            <a class="p-2 rounded-lg hover:bg-s-t1a5 js_nav" href="/articles/">Articles</a>
            <a class="p-2 rounded-lg hover:bg-s-t1a5 js_nav" href="/counter/">Counter</a>
    
        </div> <!-- End: Laptop Navigation Items (Hidden in Mobile) -->
    
    
    
        <!-- Dark Mode Toggle -->
        <div id="dark-mode-toggle" class="col-span-1  justify-self-end     cursor-pointer -btn-scale-down" title="Switch Theme">

            {% include './assets-liquid/svg/darkModeSvg.liquid' %}
    
           
    
        </div>

  </div> <!-- End: Wrapper (Everything but the mobile navigation items) -->



    <!-- Mobile Navigation Items (Always Hidden) -->
    <div class="hidden mt-[3rem]  gap-y-8px text-center js_mobile-menu" >

   
    
        <a class="block p-2 my-2 mx-4 rounded-lg hover:bg-s-t1a5 js_nav" href="/">Home</a>

        <a class="block p-2  my-2 mx-4 rounded-lg hover:bg-s-t1a5 js_nav" href="/slideshow/images/">Images</a>
        <a class="block p-2 my-2 mx-4 rounded-lg hover:bg-s-t1a5 js_nav" href="/articles/">Articles</a>
        <a class="block p-2 my-2 mx-4 rounded-lg  hover:bg-s-t1a5 js_nav" href="/counter/">Counter</a>



    </div> <!-- End: Mobile Navigation Items (Always Hidden) -->



</nav>










<!--  Javascript for Toggling Mobile Menu Items -->
{% include './assets-liquid/js/navbar/mobileMenuJS.liquid' %}

<!--  Javascript for styling Active Menu Items -->
{% include './assets-liquid/js/navbar/activeItemJS.liquid' %}


<!--  Javascript for toggling Dark & Light Mode -->
{% include './assets-liquid/js/navbar/darkModeJS.liquid' %}
