---

title: counter

layout: 'layout/base.liquid'

---



<div class="p-8 text-center space-y-8">
     
   <span class="p-4 -h3 bg-s-t1a3 shadow">Counter</span>


    <div class="-h3 js_value">0</div>


    <div>
          <button class="-btn -btn-md -btn-color-t1l1 js_btn js_decrease">decrease</button>

          <button class="-btn -btn-md -btn-color-t1l1 js_btn  js_reset">reset</button>


          <button class="-btn -btn-md -btn-color-t1l1 js_btn  js_increase">increase</button>

    </div>


</div>



<!-- Javascript -->

{% include './_includes/assets-liquid/js/counterJS.liquid' %}